:root {
  /* Colours */
  --color-bg: #bbc9b3; /* page background /*

  /* Header */
  --color-head-bg: #6f7e68;

  /* Logotype */
  --color-logotype-bg: #000;
  --color-text-logotype: #fffae2;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #6f90eb;
  /* Links */
  --color-link-bg: #fffae2;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 70px;

  /* Headlines og rubrik */
  --font-h1-size: 2rem;
  --font-sub1-size: 1.5rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1.5rem;
  --color-headline-bg: #000;
  --color-headline-text-page: #fffae2;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #fffae2;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 37px;

  /* Cards */
  --color-card-bg: #fff;
  --color-cta-card-bg: #6f90eb;
  /* news-cards */
  --color-news-bg: #fffae2;
  --color-news-bg-inverted: #dbe2f5;
  --color-cta-newscard-bg: #6f90eb;
  --color-cta-newscard-bg-inverted: #6f90eb;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1.5rem;
  --headline3-size: 1.5rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #fff;
  --color-infobox-1-bg: #fceb94;
  --color-infobox-2-bg: #def5db;
}

/* h2 {
  color: #fffae2 !important;
} */

/* DARK MODE */
.darkmode {
  background-color: var(--color-link-bg);
  border-radius: 70px;
  max-width: 8rem;
  margin: 1.5rem;
  font-size: var(--followup-text-size);
  border: none;
}
.darkmode:hover {
  cursor: pointer;
  background-color: #fff;
}

html {
  color-scheme: light;
  --color-bg: light-dark (#bbc9b3, #121212);
  --color-text: light-dark (#000, #99fbb6);
  /* --color-heading: light-dark (#fefefe, #2483);
  color: var(--color-text); */
  background-color: var(--color-bg);
  --color-head-bg: light-dark(#6f7e68, #364131);
  --color-menu-bg: light-dark(#6f90eb, #787878);
  --color-card-bg: light-dark(#fff, #787878);
  --color-link-bg: light-dark (#fffae2, #000);
  --color-news-bg: light-dark(#fffae2, #787878);
  --color-news-bg-inverted: light-dark(#dbe2f5, #8f8f8f);
  --color-info-bg: light-dark(#fff, #8f8f8f);
  --color-infobox-1-bg: light-dark(#fceb94, #494343);
  --color-infobox-2-bg: light-dark(#def5db, #333030);
}

html.dark {
  color-scheme: dark;
  --color-bg: #121212;
  --color-text: #99fbb6;
  /* --color-heading: #2483; */
  --color-head-bg: #364131;
  --color-menu-bg: #787878;
  --color-card-bg: #787878;
  --color-link-bg: #000;
  --color-news-bg: #787878;
  --color-news-bg-inverted: #8f8f8f;
  --color-info-bg: #8f8f8f;
  --color-infobox-1-bg: #494343;
  --color-infobox-2-bg: #333030;
}
