#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 20px;
  padding-bottom: 10px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 1rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 10px;
}

/* start */

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#form-summary {
  background-color: #f5f5f5;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
.form-group label {
  font-weight: 450;
}

button {
  border-radius: 6px;
  background-color: #a4b4e2;
  padding: 0.5rem;
  border: solid #40548c;
  font-size: 1rem;
  color: white;
  transition: 0.3s;
  grid-column: 1/3;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #6f90eb;
}

input {
  padding: 0.5rem;
  border: 1px solid hsl(216, 26%, 70%);
  border-radius: 6px;
  background-color: #f7faff;
  box-shadow: 0px 1px 2px #0001;
}

.indberet-smitte-h2 {
  padding-top: 4rem;
  justify-content: flex-start;
}
.form-group:has(:required) {
  label::after {
    content: " *";
    color: rgb(207, 22, 22);
  }
}
.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }
}

.fieldset-group :has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }
}

:focus-visible {
  outline: 2px solid #6f90eb;
  outline-offset: 2px;
  box-shadow: 0.5 1;
}
#webform {
  background-color: #f5f5f5;
  padding: 2.5rem;
  border-radius: 14px;
  max-width: 800px;
  margin: 3rem auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 6px;
}

.error-message {
  color: darkred;
}
