#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

button {
  border-radius: 6px;
  background-color: #a4b4e2;
  padding: 0.5rem;
  border: solid #40548c;
  font-size: 1rem;
  color: white;
  transition: 0.3s;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #6f90eb;
}
input {
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
  background-color: aliceblue;
}
.form-group {
  display: grid;
  gap: 3px;
}
.indberet-smitte-h2 {
  padding: 3rem;
  justify-content: flex-start;
}
.form-group:has(:required) {
  label::after {
    content: " *";
    color: rgb(207, 22, 22);
  }
}
.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }
}

:focus-visible {
  outline: 2px solid #6f90eb;
  outline-offset: 2px;
  box-shadow: 0.5 1;
}
#webform {
  max-width: 600px;
  margin: 0 auto;
}

.form-group label {
  font-weight: 500;
}

input {
  padding: 0.5rem;
  border: 1px solid hsl(216, 26%, 70%);
  border-radius: 6px;
  background-color: #f7faff;
}
