.news_card button {
  border: none;
}
.petriskaal {
  display: grid;
  grid-row: 1/2;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.mundbind {
  display: grid;
  grid-row: 1/2;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.news_card button:hover {
  cursor: pointer;
}

article [popover]::backdrop {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.31);
}
[popover] {
  max-width: 50ch;
  max-height: 90vh;
  width: 90vw;
  margin: 0 auto;
  padding: 20px;
  margin-top: 5rem;
}
#popup p {
  margin-block: 1rem;
  line-height: 1.6;
}

/* details[open] div {
  padding: 20px 0 0 0;
}
details[open] summary::after {
  content: X;
} */

details {
  outline: 2px solid #000;
}

summary {
  background: var(--color-infobox-2-bg);
  cursor: pointer;
  padding: 1rem;
}
summary::marker {
  content: none;
}

.btn {
  border-radius: 6px;
}

.symp {
  padding-left: 1.5rem;
}

.btn h4 {
  padding-left: 0.5rem;
  margin-top: 20px;
}

.til-register {
  padding-left: 20px;
  text-decoration: none;
  color: rgb(49, 83, 169);
  font-weight: bold;
}

.til-register a:hover {
  cursor: pointer;
}

summary::after {
  content: "+";
  font-family: system-ui;
  font-weight: 400;
  font-size: 1.1rem;
}
[open] summary::after {
  content: "-";
}
.content {
  padding: 1rem;
}

.btn p {
  margin: 20px;
}

.llogo {
  display: grid;
  grid-template-columns: 1fr;
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}

.news-banner {
  width: 100%;
  overflow: hidden;
  background: #ffdf11;
  color: #000000;
  padding: 10px 0;
  white-space: nowrap;
}

.news-content {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 15s linear infinite;
  font-size: 30px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
